.env
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env.test/
venv/
.venv/

# Docker Volumes (Database Data)
vector-db/
postgres/
FE/
# AI Model & Temp files
temp_images/
*.log
*.xlsx
.DS_Store

# Large datasets (should be downloaded or provided separately)
# smartchef_dataset.json
