beautifulsoup4==4.14.3
ddgs==9.10.0
fastapi==0.135.2
langchain_core==1.2.23
langchain_google_genai==4.2.1
langchain_postgres==0.0.17
numpy==2.4.4
onnxruntime_gpu==1.23.2
opencv_contrib_python==4.12.0.88
opencv_python==4.12.0.88
opencv_python_headless==4.12.0.88
pandas==3.0.1
protobuf==7.34.1
psycopg==3.3.3
psycopg2==2.9.11
pydantic==2.12.5
python-dotenv==1.2.2
PyYAML==6.0.3
qdrant_client==1.17.1
Requests==2.33.1
sentence_transformers==5.2.0
uvicorn==0.42.0
